@page "/{namespace}/{type}/new"
@model XNewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New - @Model.XType.XName</title>
</head>
<body>
    <header></header>
    @Html.PartialAsync("_XConstructorInfo", Model.XConstructor);
    <footer></footer>
</body>
</html>