@page "/this/"
@model XWebApplication.Pages.XThisModel
@{
    ViewData["Title"] = "XThis";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <input type="submit" value="Sign out" />
</form>

