@page "/{assembly:regex(^[A-Za-z0-9-_]+$)}/{namespace:regex(^[A-Za-z0-9-_]+$)}/{type:regex(^[A-Za-z0-9_]+$)}"
@model XTypeModel
@{
    ViewData["Title"] = XUtil.XToDisplayString(Model.XType);
    ViewData["Application"] = XUtil.XToDisplayString(Model.XType.XAssembly);
    XUtil.XToViewData(Model.XType, ViewData);
    XUtil.XToViewData(Model.XType.XAssembly, ViewData);
}
<nav>
    @await Html.PartialAsync("_XThis", Model.XObjects);
    @foreach (var xmethod in Model.XStaticMethods)
    {
        string href = Model.XGetHref(xmethod);
        <a href="@href"></a>
    }
</nav>
<ul>
    @foreach (var xfield in Model.XArrayFields)
    {

    }
</ul>
@await Html.PartialAsync("_XSystem/_XReflection/_XAssembly", Model.XType.XAssembly);
@await Html.PartialAsync("_XSystem/_XType", Model.XType);