@page "/{assembly:regex(^[A-Za-z0-9-_]+$)}/{namespace:regex(^[A-Za-z0-9-_]+$)}/{type:regex(^[A-Za-z0-9_]+$)}"
@model XTypeModel
@using XWebApplication.Models.XSystem
@using XWebApplication.Models.XSystem.XReflection
@{
    ViewData["Title"] = _XTypeModel.XToString(Model.XType);
}
<nav>
    @await Component.InvokeAsync("_XThis", new { xthis = Model.XThis });
    @foreach (var xmethod in Model.XStaticMethods)
    {
        <a href="@_XMethodInfoModel.XToHref(Model.XType, xmethod)">@_XMethodInfoModel.XToString(xmethod)</a>
    }
</nav>
<ul>
    @foreach (var xfield in Model.XArrayFields)
    {

    }
</ul>
@await Component.InvokeAsync("_XAssembly", new { xassembly = Model.XType.XAssembly, xthis = Model.XThis });
@await Component.InvokeAsync("_XType", new { xtype = Model.XType, xthis = Model.XThis });