@page "/{assembly:regex(^[A-Za-z0-9-_]+$)}/{namespace:regex(^[A-Za-z0-9-_]+$)}/{type:regex(^[A-Za-z0-9_]+$)}"
@model XTypeModel
@using XWebApplication.Models.XSystem
@using XWebApplication.Models.XSystem.XReflection
@{
    ViewData["Title"] = _XStringModel.XToString(Model.XType, Model.XThis.XString);
}
<nav>
    @foreach (var xmethod in Model.XType.XGetMethods())
    {
        if (xmethod.XIsStatic)
        {
            <a href="@_XMethodInfoModel.XToHref(Model.XType, xmethod)">@_XStringModel.XToString(xmethod, Model.XThis.XString)</a>
        }
    }
</nav>
@await Component.InvokeAsync("_XThis", new { xthis = Model.XThis })
@await Component.InvokeAsync("_XAssembly", new { xassembly = Model.XType.XAssembly, xthis = Model.XThis })
@await Component.InvokeAsync("_XType", new { xtype = Model.XType, xthis = Model.XThis })