@page "/{namespace}/{type}"
@model XTypeModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Model.XType.XName</title>
    </head>
    <body>
        <nav>
            @foreach (var xmethod in Model.XStaticMethods)
            {
                string href = Model.XGetHref(xmethod);
                <a href="@href"></a>
            }
        </nav>
        <ul>
            @foreach (var xfield in Model.XArrayFields)
            {

            }
        </ul>
        @Html.PartialAsync("_XType", Model.XType);
    </body>
</html>