@page "/using/"
@model  XUsingModel
@{
    if(Model.XType != null)
    {
        ViewData["Title"] = XUtil.XToDisplayString(Model.XType);
        ViewData["Application"] = XUtil.XToDisplayString(Model.XType.XAssembly);
    }
}
<form method="post">
    <input type="submit" value="Sign in" />
</form>