<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="xap" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.e4.equinox.target.feature.feature.group" version="3.4.0.20171204-1005"/>
<unit id="org.eclipse.rap.e4.examples.feature.feature.group" version="3.4.0.20171017-0945"/>
<unit id="org.eclipse.rap.e4.feature.feature.group" version="3.4.0.20171130-0837"/>
<unit id="org.eclipse.rap.e4.sdk.feature.feature.group" version="3.4.0.20171130-0837"/>
<repository location="http://download.eclipse.org/rt/rap/3.4/e4"/>
</location>
</locations>
</target>
