@model XWebApplication.Models.XSystem._XObjectModel
@using XSystem
@using XWebApplication.Models.XSystem

@{
    int tabIndex = 0;
}

<form method="post">
    @foreach (XType xtype in Model.XFieldTypes)
    {
        <fieldset>
            <legend>@_XTypeModel.XToString(xtype)</legend>
            <table>
                <caption></caption>
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <thead></thead>
                <tbody>
                    @foreach (var xfield in Model.XFields[xtype.XFullName])
                    {
                        <tr>
                            <td></td>
                            <td>
                                @await Component.InvokeAsync("_XFieldInfo", new { xtype = Model.XType, xobject = Model.XObject, field = xfield, key = Model.XAccessKeys[xfield.XName], index = tabIndex })
                                @{ 
                                    tabIndex++;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </fieldset>
    }
    @foreach (XType xtype in Model.XPropertyTypes)
    {
        <fieldset>
            <legend>@_XTypeModel.XToString(xtype)</legend>
            <table>
                <caption></caption>
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <thead></thead>
                <tbody>
                    @foreach (var xproperty in Model.XProperties[xtype.XFullName])
                    {
                        <tr>
                            <td></td>
                            <td>
                                @await Component.InvokeAsync("_XPropertyInfo", new { xtype = Model.XType, xobject = Model.XObject, property = xproperty, key = Model.XAccessKeys[xproperty.XName], index = tabIndex })
                                @{
                                    tabIndex++;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </fieldset>
    }
</form>