@model XSystem.XReflection.XPropertyInfo

<form name="set-@Util.XToName(Model)" method="post">
    @await Html.PartialAsync("_XPrimitive", Model);
    <input type="submit" title="Set" value="Set" />
</form>
