@model XSystem.XArray

@{ 
    var xtype = Model.XGetType().XGetElementType();
    string caption = Util.XToDisplayString(xtype);
    var xproperties = xtype.XGetProperties();
    var xfields = xtype.XGetFields();
}

<table>
    <caption>@caption</caption>
    <colgroup>
        @foreach(var xproperty in xproperties)
        {
            <col />
        }
    </colgroup>
    <colgroup>
        @foreach (var xfield in xfields)
        {
            <col />
        }
    </colgroup>
    <thead>
        <tr>
            @foreach (var xproperty in xproperties)
            {
                <th>
                    @Util.XToDisplayString(xproperty);
                </th>
            }
            @foreach(var xfield in xfields)
            {
                <th>
                    @Util.XToDisplayString(xfield);
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for(int index = 0; index < Model.XLength; index++)
        {
            <tr>
                @foreach (var xproperty in xproperties)
                {
                    <td></td>
                }
                @foreach (var xfield in xfields)
                {
                    <th>
                        @Util.XToDisplayString(xfield);
                    </th>
                }
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>