@model XSystem.XObject

<fieldset>
    <legend>Fields :</legend>
    <table>
        <caption></caption>
        <colgroup>
            <col />
            <col />
        </colgroup>
        <thead></thead>
        <tbody>
            <tr>
                @foreach (var xfield in Model.XGetType().XGetFields())
                {
                    @if (xfield.XIsStatic == false)
                    {
                        @await Html.PartialAsync("_XSystem/_XReflection/_XFieldInfo", xfield);
                    }
                }
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</fieldset>
<fieldset>
    <legend>Properties :</legend>
    <table>
        <caption></caption>
        <colgroup>
            <col />
            <col />
        </colgroup>
        <thead></thead>
        <tbody>
            <tr>
                @foreach (var xproperty in Model.XGetType().XGetProperties())
                {
                    @if (true)
                    {
                        @await Html.PartialAsync("_XSystem/_XReflection/_XPropertyInfo", xproperty);
                    }
                }
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</fieldset>
<time datetime="@DateTime.Now">@DateTime.Now</time>
<progress />
