@model XSystem.XType
@{ 
    Util.XToViewData(Model, ViewData);
    Util.XToAccessKeyMap(Model.XGetFields(), Model.XGetProperties(), ViewData, true);
    Util.XToTabIndexMap(Model.XGetFields(), Model.XGetProperties(), ViewData, true);
}
<fieldset>
    <legend>Fields :</legend>
    <table>
        <caption></caption>
        <colgroup>
            <col />
            <col />
        </colgroup>
        <thead></thead>
        <tbody>
            <tr>
                @foreach (var xfield in Model.XGetFields())
                {
                    @if (xfield.XIsStatic)
                    {
                        @await Html.PartialAsync("_XSystem/_XReflection/_XFieldInfo", xfield);
                    }
                }
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</fieldset>
<fieldset>
    <legend>Properties :</legend>
    <table>
        <caption></caption>
        <colgroup>
            <col />
            <col />
        </colgroup>
        <thead></thead>
        <tbody>
            <tr>
                @foreach (var xproperty in Model.XGetProperties())
                {
                    @if (true)
                    {
                        @await Html.PartialAsync("_XSystem/_XReflection/_XPropertyInfo", xproperty);
                    }
                }
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</fieldset>
<time datetime="@DateTime.Now">@DateTime.Now</time>
<progress />