@model XSystem.XType
@using XSystem.XReflection
@using  XSystem
@{
    Util.XToViewData(Model, ViewData);
    List<XType> xtypes = null;
    Dictionary<string, List<XFieldInfo>> xfieldSet = null;
    Util.XToFieldSet(Model.XGetFields(), out xtypes, out xfieldSet);
    List<XFieldInfo> xfields = null;
    Util.XToFields(xtypes, xfieldSet, out xfields);
    List<XType> xtype2s = null;
    Dictionary<string, List<XPropertyInfo>> xpropSet = null;
    Util.XToPropertySet(Model.XGetProperties(), out xtype2s, out xpropSet);
    List<XPropertyInfo> xprops = null;
    Util.XToProperties(xtype2s, xpropSet, out xprops);
    Util.XToAccessKeyMap(xfields.ToArray(), xprops.ToArray(), ViewData, true);
    Util.XToTabIndexMap(xfields.ToArray(), xprops.ToArray(), ViewData, true);
}

@foreach (XType xtype in xtypes)
{
    <fieldset>
        <legend>@Util.XToDisplayString(xtype)</legend>
        <table>
            <caption></caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead></thead>
            <tbody>
                @foreach (var xfield in xfieldSet[xtype.XFullName])
                {
                    @if (xfield.XIsStatic)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @await Html.PartialAsync("_XSystem/_XReflection/_XFieldInfo", xfield);
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </fieldset>
}
@foreach (XType xtype in xtype2s)
{
    <fieldset>
        <legend>@Util.XToDisplayString(xtype)</legend>
        <table>
            <caption></caption>
            <colgroup>
                <col />
                <col />
            </colgroup>
            <thead></thead>
            <tbody>
                @foreach (var xproperty in xpropSet[xtype.XFullName])
                {
                    @if (true)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @await Html.PartialAsync("_XSystem/_XReflection/_XPropertyInfo", xproperty);
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </fieldset>
}
<time datetime="@DateTime.Now">@DateTime.Now</time>
<progress />