<?xml version="1.0" encoding="windows-1258"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xproject.org/xhdl"
			class = "xproject.xhdl.XhdlPackage"
			genModel = "model/generated/XHDL.genmodel" />
	</extension>
</plugin>
