@model XWebApplication.Models._XThisModel
@using XSystem
@using XWebApplication.Models.XSystem

<a href="/return">Sign out</a>
<ul>
    @foreach (KeyValuePair<string, XObject> v in Model.XCache.XObjects)
    {
        <li>
            <a href="@_XObjectModel.XToHref(v.Value)" draggable="true" ondragstart="xondragstart(event, '@v.Key')">@_XStringModel.XToString(v.Value, null)</a>
        </li>
    }
</ul>