@model XWebApplication.Models._XThisModel
@using XSystem
@using XWebApplication.Models.XSystem

<a href="/return">Sign out</a>
<ul>
    @foreach (string key in Model.XObjects.Keys)
    {
        <li>
            <ul>
                @foreach (XObject xobject in Model.XObjects[key])
                {
                    <li>
                        <a href="@_XObjectModel.XToHref(xobject)" draggable="true" ondragstart="xondragstart(event, '@key')">@_XStringModel.XToString(xobject, Model.XCache.XString)</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>